@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  text-decoration: none !important;
  font-family: 'Bebas Neue', cursive;
}
.scrollBody {
  scrollbar-width: none;
  -ms-text-overflow: none;
}

.scrollBody ::-webkit-scrollbar {
  display: none;

}
